[submodule "rocket-chip"]
	path = rocket-chip
	url = ../rocket-chip.git
[submodule "difftest"]
	path = difftest
	url = ../difftest.git
[submodule "ready-to-run"]
	path = ready-to-run
	url = ../ready-to-run.git
[submodule "huancun"]
	path = huancun
	url = ../huancun.git
[submodule "fudian"]
	path = fudian
	url = ../fudian.git
